<!DOCTYPE html>
<html lang="en">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"> 
  </script>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo</title>
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    <title>
      Welcome Board
    </title>
  </head>
  <body>
    <div class="container">
      <h1>
        Welcome Board
      </h1>

      <u1 class="Lista">
        <div id="shopItem">
          
          <li id="list" >
            
            <button id="Check" type="text">
                      CHECK
            </button>
            <button id="Delete" type="text">
                      DELETE
            </button>
          <p></p>
          </li>
        </div>
      </u1>
    </div>
    </div>
    <form>
      <input type="text" placeholder="add a card">
      <button id="submit">
        Add
      </button>
  </form>
  </body>
</html>