<%- include ("./partials/_header") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Kanban Boards</h1>
        <p class="lead">Web application development class final project.</p>
        <p class="lead">Pedro Gómez de la Garza A00818529</p>
        <p class="lead">Helmer Enrique Muñoz Apodaca A00819255</p>
    </div>
</div>

<%- include ("./partials/_footer") %>
