<%- include ("./partials/_header") %>

<h1>Welcome page</h1>

<nav>
    <a href="/users/register"><button type="button" class="btn btn-primary">Register</button></a>
</nav>

<%- include ("./partials/_footer") %>
